.main{
    display: flex;
    justify-content: center;
    margin-top:140px;
    margin-bottom: 300px;
    flex-wrap: wrap;
    align-items: center;
}

.left{
    width: 400px;
    height: 200px;
    margin:0% 5%;
    margin-top:-100px;
}
.right{
    width: 400px;
    height: 350px;
    background-color: white;
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
body{
    background-color: #f1f1f1;
}
.fb{
    width: 300px;
    height: 105px;
    margin-left: -28px;
}
h2{
    margin:0px;
    margin-top:-10px;
    font-weight: 400;
    font-size: 28px;
    color:#1c1e21;
}
input{
    width: 100%;
    padding: 14px 16px;
    box-sizing: border-box;
    font-size: 16px;
    
    margin-top:12px;
    height: 52px;
    border-radius: 6px;
    border:1px solid #dddfe2;
    font-family: Arial, Helvetica, sans-serif;
}
.log{
    width: 100%;
    background-color: #1877f2;
    height: 48px;
    border:none;
    color:white;
    font-size: 21px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top:12px;
    border-radius: 6px;
}

.fg{
    margin-top:18px;
    text-align: center;
    border-bottom: 1px solid #dadde1;
    padding-bottom: 18px;
}
.fg a{
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    
}
button:hover{
    cursor: pointer;
}
.fg a:hover{
    text-decoration: underline;
}
.create{
    width: 60%;
    color:white;
    border-radius: 6px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
    font-weight: bold;
    height: 48px;
    background-color: #42b72a;
    display: block;
    margin:25px auto;
}
input:focus{
    outline-color: #1877f2;
    
}
.topright{
    margin:0% 5%;
}
p{
    text-align: center;
   
}
.cr{
    color:#1c1e21;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    text-align: center;
    padding: 3px;
    color: rgb(156, 156, 156);
    background-color: #ffffff;
    height: 100%;
  }
  .foooter{
      background-color: #ffffff;
  }
  .languange a{
      color: rgb(151, 151, 151);
      text-decoration: none;

  }